<div>
  <h1>New Menu</h1>
  <form action="/menus/new" method="POST">
    <div>
      <input type="text" name="starter" placeholder="starter" />
    </div>
    <div>
      <input type="text" name="main" placeholder="main"/>
    </div>
    <div>
      <input type="text" name="dessert" placeholder="dessert"/>
    </div>
    <div>
      <input type="text" name="price" placeholder="price"/>
    </div>
    <button type="submit">Add menu</button>
  </form>
</div>