<div class="mt-4">
  <h1>New Menu</h1>
  <div class="col-md-4 offset-md-4">
    <div class="card card-body">
      <form action="/menus/new" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <input class="form-control" type="text" name="starter" placeholder="starter" />
        </div>
        <div class="mb-3">
          <input class="form-control" type="text" name="main" placeholder="main"/>
        </div>
        <div class="mb-3">
          <input class="form-control" type="text" name="dessert" placeholder="dessert"/>
        </div>
        <div class="mb-3">
          <input class="form-control" type="file" name="image" placeholder="Select an image"/>
        </div>
        <div class="mb-3">
          <input class="form-control" type="text" name="price" placeholder="price"/>
        </div>
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary" type="submit">Add menu</button>
        </div>
      </form>
    </div>
  </div>
  
</div>