<div>
  <h1>New Menu</h1>
  <div>
    <input type="text" placeholder="starte"/>
  </div>
  <div>
    <input type="text" placeholder="main"/>
  </div>
  <div>
    <input type="text" placeholder="dessert"/>
  </div>
  <button type="submit">Add menu</button>
</div>